[submodule "Grammy_voting/lib/forge-std"]
	path = Grammy_voting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Grammy/contracts/lib/forge-std"]
	path = Grammy/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
